<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="sobj1" class="com.demo.springEntity.Student">
		<property name="roll" value="0034"></property>
		<property name="name" value="vaibhav"></property>
		<property name="address" value="kolhapur"></property>
	</bean>

	<bean id="sobj2" class="com.demo.springEntity.Student">
		<property name="roll" value="4466"></property>
		<property name="name" value="sush"></property>
		<property name="address" value="pune"></property>
	</bean>

</beans>